<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\Andy\Documents\Visual Studio 2012\Projects\MSSE680_WilliamsLogMgmtPortal\Presentation.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="andy680ConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=andy680;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=.;Initial Catalog=andy680;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=andy680;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\andy680ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=andy680;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="andy680Entities" Order="2" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=andy680;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=.;Initial Catalog=andy680;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ANDY-LAPTOP;Initial Catalog=andy680;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\andy680Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/andy680.csdl|res://*/andy680.ssdl|res://*/andy680.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANDY-LAPTOP;initial catalog=andy680;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)andy680ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=andy680;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)andy680Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/andy680.csdl|res://*/andy680.ssdl|res://*/andy680.msl;provider=System.Data.SqlClient;provider connection string="data source=.;initial catalog=andy680;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>